@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none !important;
}

.ff-rubik{
    font-family: 'Rubik', sans-serif;
}
.my-container{
    max-width: 840px !important;
}

/*----------------------------------- nav section -----------------------------------*/
ul {
        padding-left: unset !important;
    }
    
    .cross-1 {
        rotate: 45deg;
        transition: .4s;
    }
    
    .cross-2 {
        position: relative;
        transition: .4s;
        top: -80%;
        rotate: -45deg;
    }
    
    .cross-3 {
        display: none !important;
    }
    
    .cross-4 {
        transition: .4s;
    }
    
    .cross-5 {
        transition: .4s;
    }
    
    .cross-6 {
        transition: .4s;
    }
    
    .flow-hidden {
        overflow: hidden;
    }
    .nav-touch-btn{
padding: 17px 38px;
border-radius: 41px;
background: var(--color-orange);
border: none;
    }   
   
    
    .nav-line-1::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        border-radius: 15px;
        background: var(--text-lightwhite);
        right: 0;
        bottom: -60%;
        transition: .5s;
    }
    
    .nav-line-1:hover::before {
        width: 100%;
        left: 0;
    }

    .common-h{
        transition: .4s;
    }
    .common-h:hover{
         color: var(--color-orange) !important;
    }

    /*  */

/* ---------------hero_section--------------- */

.grow {
    flex-grow: 1;
}

.mx-766{
    max-width: 766px;
}
.mx-565{
    max-width: 565px;
}


.h-line {
    position: relative;
}

.h-line::before {
    content: '';
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 11px;
    border-radius: 5px 0px 0px 5px;
    background-image: url("../images/hero-line-img.png");
    background-size: cover;
}

/* .heading_line {
    position: relative;
}

.heading_line::before {
    content: '';
    position: absolute;
    bottom: -5%;
    width: 100%;
    height: 11px;
    background: linear-gradient(219deg, #FFA78A 0%, #FF7A34 100%);
    border-radius: 5px 0px 0px 5px;
} */

.hero-btn {
    border-radius: 41px;
    background: transparent;
    color: var(--color-orange);
    font-size: var(--fs-sm);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    padding: 17px 28px;
    border: 2px solid var(--color-orange);
    transition: all linear 300ms;
}

.hero-btn:hover {
    animation: pulsegardiant 1s;
    color: var(--color-white);
    box-shadow: 0 0 0 0.7em transparent;
    background: var(--color-orange);
}

.sec1-elipes {
    position: absolute;
    top: 36%;
    left: 13%;
    border-radius: 626px;
    opacity: 0.5;
    background: var(--orange, #F36A3E);
    filter: blur(120.5px);
    width: 350px;
    height: 75px;
    z-index: -1;
}

.sec-main-elipes {
    position: absolute;
    top: 1%;
    left: 3%;
    z-index: -1;
    transition: all linear 400ms;
   
}

.sec-main-elipes2 {
    position: absolute;
    bottom: 7%;
    left: 8%;
    z-index: -1;
    transform: rotate(-15deg);
    transition: all linear 400ms;
    
}

.elipes-1 {
    position: absolute;
    bottom: -13%;
    left: 1%;
    transform: rotate(-69deg);
}

.cv_tablet_hero {
    position: absolute;
    bottom: 9%;
    transform: translateX(50%);
    z-index: -1;
}

.cv_hero_sunrise {
    position: absolute;
    top: 4%;
    left: 28%;
    z-index: -1;
    transition: all linear 400ms;

}

.hero_right_ellipse {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all linear 400ms;
   
}

.hero_right_ellipse2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: all linear 400ms;
   
}

.circle-img {
    position: absolute;
    right: 3%;
    transform: rotate(-50deg);
    bottom: 25%;
}

.slider-one .slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.slider-one .slick-slide {
    margin-bottom: 15px;
}

.slider-one .slick-dots {
    margin-top: 20px;
    position: unset;
}

.slider-one .slick-dots li.slick-active button:before {
    width: 55px;
    height: 11px;
    opacity: 1;
    color: var(--gray);
    margin-left: -12px;
}

.slider-one .slick-dots li {
    width: 36px;
    margin-left: 7px;
    margin-right: 7px;
}

.slider-one .slick-dots li button:before {
    height: 11px;
    width: 31px;
    background-color: var(--gray);
    position: absolute;
    left: 50%;
    border-radius: 34px;
    font-size: 0;
    margin-left: -3px;
}

.slider-one .slick-dots {
    margin-top: 20px;
    position: unset;
}

.slider-one .slick-dots li.slick-active button:before {
    width: 55px;
    height: 11px;
    color: var(--gray);
    margin-left: -12px;
}

.slider-one .slick-dots li {
    width: 36px;
    margin-left: 7px;
    margin-right: 7px;
}

.slider-one .slick-dots li button:before {
    height: 11px;
    width: 31px;
    background-color: var(--main);
    position: absolute;
    left: 50%;
    border-radius: 34px;
    font-size: 0;
    margin-left: -3px;
}


/*------------------------- slider_second------------------------- */

.rounded_18 {
    border-radius: 18px;
}

.main_img {
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.15);
}

.card-slider {
    width: 156px;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    background: var(--white-2);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
    padding: 25.913px 21px 35px 22px;
    text-align: center;
}

.card-slider_copy {
    width: 156px !important;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    background: var(--white-2);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
    padding: 25.463px 5px 35px 5px;
    text-align: center;
}

.line_hero {
    position: relative;
}

.line_hero::before {
    content: '';
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 11px;
    border-radius: 5px 0px 0px 5px;
    background-image: url("../image/line.png");
    background-size: 100% 100%;
}

.object_fit {
    object-fit: cover;
}

.transform {
    transform: rotate(-49.181deg);
}

.line_hero_standout {
    position: relative;
}

.line_hero_standout::before {
    content: '';
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    height: 11px;
    border-radius: 5px 0px 0px 5px;
    background-image: url("../image/line.png");
    background-size: cover;
}

.circle-tool {
    position: absolute;
    top: 11%;
    right: 6%;
}

.slider_ellipse {
    position: absolute;
    bottom: 26%;
    right: 4%;
    border-radius: 626px;
    background: var(--orange, #F36A3E);
    filter: blur(120.5px);
    width: 165px;
    height: 143px;
    flex-shrink: 0;
    z-index: -1;
}

.slider-ellipse_orange {
    position: absolute;
    top: -5%;
    left: 0;
    border-radius: 626px;
    background: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
    width: 184px;
    height: 159px;
    flex-shrink: 0;
    z-index: -1;
}

.slick-slider-one .slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.slick-slider-one .slick-slide {
    margin-bottom: 15px;
}

.slick-slider-one .slick-dots {
    margin-top: 20px;
    position: unset;
}

.slick-slider-one .slick-dots li.slick-active button:before {
    width: 55px;
    height: 11px;
    opacity: 1;
    color: var(--gray);
    margin-left: -12px;
}

.slick-slider-one .slick-dots li {
    width: 36px;
    margin-left: 7px;
    margin-right: 7px;
}

.slick-slider-one .slick-dots li button:before {
    height: 11px;
    width: 31px;
    background-color: var(--gray);
    position: absolute;
    left: 50%;
    border-radius: 34px;
    font-size: 0;
    margin-left: -3px;
}

.slick-slider-one .slick-dots {
    margin-top: 20px;
    position: unset;
}

.slick-slider-one .slick-dots li.slick-active button:before {
    width: 55px;
    height: 11px;
    color: var(--gray);
    margin-left: -12px;
}

.slick-slider-one .slick-dots li {
    width: 36px;
    margin-left: 7px;
    margin-right: 7px;
}

.slick-slider-one .slick-dots li button:before {
    height: 11px;
    width: 31px;
    background-color: var(--main);
    position: absolute;
    left: 50%;
    border-radius: 34px;
    font-size: 0;
    margin-left: -3px;
}


    

/*-------------------------- we ll------------------------- */

.we_right_ellipse {
    position: absolute;
    top: 25%;
    right: -6%;
    background: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
    width: 165px;
    height: 143px;
}

.we_left_ellipse {
    width: 165px;
    height: 143px;
    position: absolute;
    bottom: 19%;
    left: -3%;
    background: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
}

.we_you {
    transition: all linear 300ms;
    animation: we_you 1s infinite;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-timeline: scroll;
}


.star_img {
    position: absolute;
    top: -8%;
    left: 2%;
}

.powerful {
    transition: all linear 300ms;
    animation: powerful 1s infinite;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-timeline: scroll;
}


/* professional_card */

.correct_click {
    width: 25px;
    height: 25px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
}

.education_card {
    position: absolute;
    top: 18%;
    left: 13%;
    z-index: 1;
}

.language_card {
    position: absolute;
    top: 48%;
    left: 25%;
    z-index: 1;
}

.skill_card {
    position: absolute;
    top: 85%;
    left: 36%;
    z-index: 1;
}

.profiessional {
    position: absolute;
    bottom: -71%;
    left: -2%;
    width: 165px;
    height: 143px;
    background-color: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
}

.job_you {
    position: absolute;
    top: 43%;
    right: 1%;
    width: 165px;
    height: 143px;
    background-color: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
}





/* professional_card */

.correct_click {
    width: 25px;
    height: 25px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
}

.education_card {
    position: absolute;
    top: 18%;
    left: 13%;
    z-index: 1;
}

.language_card {
    position: absolute;
    top: 48%;
    left: 25%;
    z-index: 1;
}

.skill_card {
    position: absolute;
    top: 85%;
    left: 36%;
    z-index: 1;
}

.profiessional {
    position: absolute;
    bottom: -71%;
    left: -2%;
    width: 165px;
    height: 143px;
    background-color: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
}

.job_you {
    position: absolute;
    top: 43%;
    right: 1%;
    width: 165px;
    height: 143px;
    background-color: var(--orange, #F36A3E);
    opacity: 0.5;
    filter: blur(120.5px);
}

.common_btn {
    border-radius: 41px;
    background: var(--color-orange);
    color: var(--color-white);
    font-size: var(--fs-sm);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    padding: 17px 28px;
    border: 2px solid transparent;
    transition: all linear 0.2s;
}

.common_btn:hover {
    animation: pulsegardiant 1s;
    box-shadow: 0 0 0 0.7em transparent;
    background: var(--color-orange);
}


    /*------------------------------------------------- job of apply section ----------------------------------------*/

    .we_right_ellipse {
        position: absolute;
        top: 25%;
        right: -6%;
        background: var(--orange, #F36A3E);
        opacity: 0.5;
        filter: blur(120.5px);
        width: 165px;
        height: 143px;
    }
    
    .we_left_ellipse {
        width: 165px;
        height: 143px;
        position: absolute;
        bottom: 19%;
        left: -3%;
        background: var(--orange, #F36A3E);
        opacity: 0.5;
        filter: blur(120.5px);
    }
    
    .we_you {
        transition: all linear 300ms;
        animation: we_you 1s infinite;
        animation-iteration-count: 1;
        animation-delay: 4s;
        animation-timeline: scroll;
    }

    .mx-558{
        max-width: 558px;
    }
    .mx-500{
        max-width: 500px;
    }

    .line_hero {
        position: relative;
    }
    
    .line_hero::before {
        content: '';
        position: absolute;
        bottom: -25%;
        width: 100%;
        height: 11px;
        border-radius: 5px 0px 0px 5px;
        background-image: url("../images/line-img.png");
        background-size: 100% 100%;
    }
    
    .correct_click {
        width: 25px;
        height: 25px;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-orange);
    }  

    /* slider-section-2 */
    .bdr-rds-72 {
        border-radius: 72px;
    }
    
    .comment-crd {
        padding: 15px 18px 14px 18px;
        max-width: 357px;
        border-radius: 10px;
        background: var(--white-2);
        box-shadow: 0px 18px 59px 0px rgba(0, 0, 0, 0.07);
    }
    
    .comment-trangle {
        position: absolute;
        bottom: -15;
        left: 8%;
    }
    
    .slider-2-elips-1 {
        position: absolute;
        top: 5%;
        left: 0;
        width: 165px;
        height: 143px;
        background: var(--orange, #F36A3E);
        opacity: 0.5;
        filter: blur(120.5px);
        z-index: -1;
    }
    
    .slider-2-btn {
        border: 1px solid var(--color-orange);
        background-color: var(--bg-light-white);
        border-radius: 50%;
        padding: 7px;
        transition: all linear 300ms;
    }
    
    .slider-2-btn:hover {
        background-color: var(--color-orange);
        border: 1px solid transparent;
    }
    
    .svg-h svg path {
        transition: all linear 300ms;
    }
    
    .svg-h:hover svg path {
        fill: var(--bg-light-white);
    }

    .preview {
        position: absolute;
        top: 45%;
        left: -1%;
    }
    .next {
        position: absolute;
        top: 45%;
        right: -1%;
    }

    .mx-321{
        max-width: 321px;
    }

    .hadding-c{
        position: absolute;
        top: 4%;
        left: 34%;
    }


    /*---------------------------------------------- accordion-section ----------------------------------------------*/
 
.accordion-button::after {
    flex-shrink: 0;
    border: none !important;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url("/assets/images/arrow-img.png") !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-item {
    margin-bottom: 10px;
    color: white;
    background-color: transparent !important;
    border: none !important;
}

.accordion-item:first-of-type .accordion-button {
    background-color: transparent !important;
}

.accordion-body {
    background: transparent;
}

.accordion-button {
    box-shadow: none !important;
    background-color: transparent !important;
}

.accordion-button-underline {
    border-bottom: 1px solid #E6E5E5 !important;
}


    /*------------------------------------------------- orange-section -------------------------------------------------*/

    .orange-crd{
       
padding: 64px 235px 64px 236px;
border-radius: 21px;
background: var(--orange, #F36A3E);
    }

    .mx-610{
        max-width: 610px;
    }
    .mx-615{
        max-width: 615px;
    }

    .get-started-btn{        
padding: 17px 38px;
border-radius: 41px;
background: var(--white, #FAFAFA);
border: none;
    }

    .crd-set {
        transform: translateY(185px);
    }

    /*------------------------------------------------------ footer-section ------------------------------------------------------*/
    .mx-373{
        max-width: 373px;
    }
    
/* media screens */
@media (max-width:992px) {
        label[id="menuIcon"] {
            width: 30px;
            height: 24px;
            cursor: pointer;
            display: flex;
            position: absolute;
            right: 2%;
            top: 44%;
            justify-content: space-between;
            flex-direction: column;
            z-index: 5;
            align-items: center;
        }
    
        label[id="menuIcon"]>span {
            width: 100%;
            height: 5px;
            background: black;
        }
    
        .nav-box {
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            top: 0;
            right: -100%;
            position: fixed;
            opacity: 1;
            width: 100%;
            max-width: 400px;
            height: 100%;
            background: var(--text-light-black3);
            z-index: 3;
            box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
            transition: all 500ms linear;
        }
    
        .fix-lft {
            right: 0;
        }
    
        .nav-line {
            border-bottom: 1px solid #fafafa;
            width: 80%;
            text-align: center;
    
        }
    
    }

    
/* medie quary */

@media (min-width:575.8px) {
    .common_btn {
        padding: 17px 38px;
    }
    .hero-btn {
        padding: 17px 38px;
    }
    .width {
        width: 50%;
    }
    .min_vh_100 {
        min-height: 100vh;
    }
    .common-img-w {
        width: 50%;
    }
    .cv_hero_sunrise {
        position: absolute;
        top: 18%;
        left: 37%;
        z-index: -1;
    }
    /* hero-section-ellipse */
    .cv_hero_sunrise {
        position: absolute;
        top: 5%;
        left: 30%;
        z-index: -1;
    }
    .circle-img {
        position: absolute;
        right: -1%;
        transform: rotate(-37deg);
        bottom: 19%;
    }
    .elipes-1 {
        position: absolute;
        bottom: 27%;
        left: 1%;
        transform: unset;
    }
    .circle-tool {
        position: absolute;
        top: -3%;
        right: 4%;
    }
    .circle-2-img {
        position: absolute;
        top: -1%;
        left: 4%;
    }
    .sec1-elipes {
        position: absolute;
        top: 33%;
        left: 32%;
        width: 626px;
        height: 115px;
        z-index: -1;
    }
}

@media (min-width:767.8px) {
    .width {
        width: 75%;
    }
    .circle-tool {
        position: absolute;
        top: 1%;
        right: 1%;
    }
    .circle-2-img {
        position: absolute;
        top: 5%;
        left: 3%;
    }
    .common-img-w {
        width: 75%;
    }
    /* hero-section-ellipse */
    .cv_hero_sunrise {
        position: absolute;
        top: 23%;
        left: 30%;
        z-index: -1;
    }
    .circle-img {
        position: absolute;
        top: 45%;
        right: 3%;
        transform: rotate(-12deg);
    }
    .hero_right_ellipse2 {
        position: absolute;
        bottom: 4%;
        right: -9%;
        z-index: -1;
    }
    .elipes-1 {
        position: absolute;
        bottom: 49%;
        left: 3%;
    }
}

@media (min-width:991.8px) {
    /* nav bar */
    .view {
        width: unset;
        position: unset;
        background-color: transparent;
    }
    .border_bottom_nav {
        border-bottom: unset;
        min-width: unset;
    }
    /* max-width */
    .mw_499 {
        max-width: 499px;
    }
    .transform {
        transform: unset;
    }
    .width {
        width: 75%;
    }
    /* cv */
    .circle-tool {
        position: absolute;
        top: 5%;
        right: 4%;
    }
    .circle-2-img {
        position: absolute;
        top: 10%;
        left: 4%;
    }
    /* .line_hero_standout {
        position: relative;
    } */
    .line_hero_standout::before {
        content: '';
        position: absolute;
        bottom: 30%;
        left: 0;
        width: 100%;
        height: 11px;
        border-radius: 5px 0px 0px 5px;
        background-image: url("../image/line.png");
        background-size: cover;
    }
    .common-img-w {
        width: 100%;
    }
    /* hero-section-ellipse */
    .cv_hero_sunrise {
        position: absolute;
        top: 23%;
        left: 37%;
        z-index: -1;
    }
    .hero_right_ellipse2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .preview {
        position: absolute;
        top: 45%;
        left: -1%;
    }
    .next {
        position: absolute;
        top: 45%;
        right: -1%;
    }
}

@media (min-width:1199.8px) {
    .width {
        width: 100%;
    }
    .circle-tool {
        position: absolute;
        top: 11%;
        right: -6%;
    }
    .preview {
        position: absolute;
        top: 45%;
        left: -5%;
    }
    .next {
        position: absolute;
        top: 45%;
        right: -5%;
    }
}


/* .preview {
    position: absolute;
    top: 45%;
    left: -5%;
}

.next {
    position: absolute;
    top: 45%;
    right: -5%;
} */